@model int 

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1>Order Confirmation</h1>
        <br />
        <img src="~/imgs/bannervendor.jpg" width="400" height="400" />
        <div class="col-12 text-center">
            <br />
            <h3>Your Order Number @Model Has Been Successfully Placed</h3>
        </div>
    </div>
</div>
